---
import Sphere from './Sphere.astro'
---

<div class="w-fit relative">
  <Sphere/>
  <svg width="346" height="398" viewBox="0 0 346 398" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M42.3328 0.985352H295.773L312.557 20.2535H331.291L346 37.1406V334.326L330.378 352.26V385.13L319.156 398.007H20.934L0 373.986V88.0874L18.2529 67.1429V28.3494L42.3328 0.985352Z" fill="url(#paint0_linear_259_558)"/>
      <defs>
          <linearGradient id="paint0_linear_259_558" x1="331" y1="45.7363" x2="-115.51" y2="440.821" gradientUnits="userSpaceOnUse">
              <stop stop-color="#E60E81"/>
              <stop offset="1" stop-color="#E60E81" stop-opacity="0"/>
          </linearGradient>
      </defs>
  </svg>
  <svg width="346" height="398" viewBox="0 0 346 398" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute top-5 right-5 z-[-1]">
      <path d="M310.672 21.8448L311.419 22.7027H312.557H330.154L343.5 38.0259V333.339L328.493 350.568L327.878 351.273V352.21V384.142L318.019 395.456H22.0714L2.5 372.999V88.9731L20.1376 68.7346L20.7529 68.0286V67.0921V29.242L43.463 3.43457H294.636L310.672 21.8448Z" stroke="white" stroke-width="5"/>
  </svg>
</div>
